


body{
	font-family: 'Roboto', sans-serif;
}

.logotipo{
	width: 150px;
	padding: 10px 0;
}

h1{
	font-weight: bold;
}

.altura-a-b{
	padding: 30px;
}

.logotipo{
	width: 150px;
}


footer{
	background-color: black;
	padding: 100px 0;
	text-align: center;
}

.logotipo-footer{
	width: 200px;
}


footer p {
	color: white;
	font-size: 10px;
}

.cabecera-somos{
	padding: 150px;
	background-image: url(../imagenes/8.jpg);
	background-position: center;
	background-size: cover;

}
.cabecera-somos{
	color: black;
}

