body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  font-family: 'Licorice', cursive;
  background-color: #ffffff;
  min-height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.nav-link {
  color: black;
  font-size: 22px;
}

.nav-link:hover {
  color: black;
}

.logo {
  width: 150px;
}

#hero {
  background-image: url(../imagenes/2.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 90px;
  min-height: 500px;
}

.content-center {
  text-align: center;
  margin: 40px;
}

h1 {
  font-size: 4rem;
  font-family: 'Licorice', cursive;
  color: black;
}

h3 {
  font-family: 'Licorice', cursive;
  font-size: 70px;
}

h2 {
  font-family: 'Licorice', cursive;
  color: #CF972A;
  font-size: 90px;
}

footer {
  background-color: #000000;
  padding: 10px 0;
  text-align: center;
}

footer h3 {
  color: #fff;
  font-size: 20px;
}

footer p {
  font-size: 0.88em;
  color: white;
  padding: 15px;
}

.logo-footer {
  width: 150px;
  margin-bottom: 25px;
}

.redes a {
  color: #fff;
  margin: 10px;
  font-size: 25px;
}

#hero2 {
  background-image: url(../imagenes/4.jpeg);
  background-size: cover;
  padding-top: 90px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.cuerpo {
  padding: 15px;
}

#galeria img {
  width: 100%;
  height: 300px;
  transition: all 300ms;
}

#galeria img:hover {
  transform: scale(1.1);
}

#galeria .col-lg-4 {
  padding: 25px;
}

.card img {
  height: 300px;
}

.section {
  padding: 50px;
}

#hero3 {
  background-position: center;
  padding: 50px;
}
