*{
    margin: 0;
    padding: 0;
}

body{
   background:
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
background-size: 100px 100px;
font-family: 'Outfit', sans-serif;
}

.title h1 {
     text-align: center;
     padding: 20px;
     font-size: 2.9em;
     text-transform: uppercase;
}

.conteiner {
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(5, 1fr);
}

.conteiner > .header,
.conteinerc > .content,
.conteiner > .sidebar,
.conteiner > .footer,
.conteiner > div{
    background: blue;
    padding: 20px;
    border: 1px solid;
}

.conteiner .header,
.conteiner .footer{
    background: black;
    color: white;
    grid-column: 1/6;
}

.conteiner > .content{
    grid-column: span 3;
}

.conteiner > .sidebar{
    grid-column: span 2;
    background: #485460;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 2s;
}

.sidebar:hover{
    background: black;}

.content > .article{
    background: #807e90;
    padding: 20px;
    margin-top: 5px;
    color: white ;
}

.content .article h1,
.content .article p{
    padding: 10px;
}

.conteiner > .related-post{
    background: #2d3436;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    grid-column: 1/6;
}

.conteiner > .related-post:hover{
    cursor: pointer;
    color: black;
    background: white;
}

.conteiner .sidebar img {
    width: 100%;
    margin-top: 5px;
}

.conteiner div a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .header{
        text-align: center;
    }

    .conteiner .content{
        grid-column: 1/6;
    }

    .conteiner .sidebar{
        grid-column: 1/6;
    }

    .conteiner .related-post{
        grid-column: ;
    }
}